header.MuiAppBar-colorPrimary {
  background-color: #000000;
  color: #ffffff;
}

input.makeStyles-inputInput-6 {
  width: 20rem;
}

img#pokeball {
  height: 2.2rem;
}

img#pokelogo {
  height: 5rem;
}
