body {
  background-color: #000000;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  width: 100%;
  padding: 0;
  box-sizing: border-box;
}

.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

@media screen and (max-width: 991px) {
  .hero {
    overflow: auto;
  }
}

@media screen and (max-width: 480px) {
  .hero {
    height: auto;
    min-height: 98vh;
  }
}
